{% extends "base.html" %}
{% load static %}
{% block title %}Galería | Jardinero!{% endblock %}


{% block content %}

<body class="galeria-page">
    <!-- Sección de Galería -->
    <section class="container my-5 fade-in" id="galeria">
        <h2 class="text-center">Galería de Trabajos</h2>


        <!-- Grid de imágenes -->
        <div class="gallery-grid">
            <img src="{% static 'img/podaficus.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/cortepasto.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/limpiando_piscina.gif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/corte_maquina.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/mant_jar.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/decoracion_jardin.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/sistema_riego.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/poda_arboles.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/barrefondo.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/corte_cesped.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/break.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
            <img src="{% static 'img/poda.jfif' %}" alt="Imagen de galería" onclick="openLightbox(this)">
        </div>
        <iframe src="https://assets.pinterest.com/ext/embed.html?id=116671446591764483" height="500" width="300"
            frameborder="0" scrolling="no"></iframe>
    </section>

    <div id="lightbox" class="lightbox" onclick="closeLightbox(event)">
        <img id="lightbox-img" src="" alt="Imagen ampliada">
    </div>

    <script>
        // Función para abrir el lightbox con la imagen seleccionada
        function openLightbox(imgElement) {
            const lightbox = document.getElementById('lightbox');
            const lightboxImg = document.getElementById('lightbox-img');
    
            // Mostrar el lightbox y la imagen seleccionada
            lightbox.style.display = "flex";
            lightboxImg.src = imgElement.src;
    
            // Agregar la clase 'show' para mostrar el lightbox
            lightbox.classList.add('show');
    
            // Transición suave de opacidad
            setTimeout(() => {
                lightbox.style.opacity = 1;
            }, 10);
        }
    
        // Función para cerrar el lightbox
        function closeLightbox(event) {
            const lightbox = document.getElementById('lightbox');
    
            // Verificar si el clic se originó en la imagen
            if (event.target.id === 'lightbox-img') {
                return; // No cerrar el lightbox si se hizo clic en la imagen
            }
    
            // Desvanecer el lightbox
            lightbox.style.opacity = 0;
            setTimeout(() => {
                // Ocultar el lightbox después de la animación y eliminar la clase 'show'
                lightbox.style.display = "none";
                lightbox.classList.remove('show');
            }, 300);
        }
    </script>
</body>
{% endblock %}