.fondobody {
    background: linear-gradient(135deg, #007bff, #00c853) ;
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}
/* Navbar */
.navbar, .custom-navbar {
    background: transparent; /* Aplica el gradiente de fondo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.8rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    flex-direction: column;
    text-align: center;
}

/* Navbar links */
.navbar .nav-link {
    color: white ;
    font-weight: 500;
    transition: 0.3s;
    display: block;
    padding: 10px 0;
    font-size: 14px;
}

.navbar .nav-link:hover {
    color: #f1f1f1;
    transform: translateY(-2px);
}

/* Navbar toggler */
.navbar-toggler {
    background-color: white;
    border: 1px solid #ffffff;
}

/* Navbar collapse */
.navbar-collapse {
    background: linear-gradient(135deg, #007bff, #00c853); /* Aplica el gradiente en dispositivos móviles */
    padding: 10px;
    border-radius: 8px;
}

/* Ampliar el área de detección */
.floating-wpp {
    width: 100px !important;
    height: 100px !important;
}

/* Evitar que desaparezca el chat si el mouse se mueve fuera del icono */
.floating-wpp:hover .floating-wpp-popup,
.floating-wpp-popup:hover {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
/* Cambiar la fuente del mensaje emergente */
.floating-wpp-popup-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Tamaño del texto */
    color: #000; /* Color del texto */
    font-weight: bold; /* Negrita */
}

/* Cambiar la fuente del título */
.floating-wpp-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: #128C7E; /* Color del encabezado */
}

/* Cambiar la fuente del botón de WhatsApp */
.floating-wpp-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}






/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .nav-link {
        display: block;
        padding: 10px 0;
    }

    .navbar-toggler {
        background-color: white;
        border: 1px solid #ffffff;
    }

    .navbar-collapse {
        background: linear-gradient(135deg,  #00c853); /* Aplica el gradiente en dispositivos móviles */
        padding: 10px;
    }
}