{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Servicios de Jardinería y Mantenimiento de Piscinas</title>
    <!-- Aquí se carga el archivo CSS estático -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Bienvenidos a nuestro servicio</h1>
    
    <h2>Servicios</h2>
    <ul>
        {% for servicio in servicios %}
        <li>
            <a href="{% url 'servicio_detalle' pk=servicio.pk %}">
                <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}" width="100">
                {{ servicio.nombre }} - ${{ servicio.precio }}
            </a>
        </li>
        {% endfor %}
    </ul>
     <!-- Si tienes algún archivo JS, lo puedes cargar de esta manera -->
     <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
